body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: white;
  text-align: center;
}

.header {
  background-color: #007AFF;
  padding: 20px;
  text-align: left;
}

h1 {
  color: #333;
  margin: 0;
  font-weight: bold;
}

h2 {
  color: #333;
}

h3 {
  color: #007AFF;
  margin-top: 30px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 50%;
  text-align: left;
}

li {
  margin-top: 10px;
  font-size: 14px;
}
